# --- Core Data Analysis ---
pandas
numpy

# --- For Reading Special Files ---
openpyxl    # For Excel (.xlsx)
lxml        # For HTML scraping (.html)
pyarrow     # For Parquet files (.parquet)

# --- For Connecting to the Database (Week 3/4) ---
sqlalchemy<2.0
psycopg2-binary

# Subject to change 

# --- For Loading Address ---
geopy==2.4.1